body {
  font-size: 13px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 50px;
  background: url("../images/header.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

.search-section .container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search-section .container .item__input {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: relative;
  font-size: 13px;
}

.search-section .container .item__search {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-preferred-size: 60px;
      flex-basis: 60px;
}

.search-section .container .close {
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  top: 8px;
  font-size: 13px;
  background: url(../images/cancel.png) no-repeat;
  background-size: cover;
  cursor: pointer;
}

.searchList-section .tab-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
}

.searchList-section .tab-container .tab {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  line-height: 2;
  cursor: pointer;
}

.searchList-section .tab-container .tab.tab__dp_selected {
  color: white;
  background-color: brown;
}

.searchList-section .tabList {
  padding: 10px;
}

.searchList-section .tabList li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.searchList-section .tabList li a {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-decoration: none;
  line-height: 2;
  color: #333;
}

.searchList-section .tabList li i {
  text-align: right;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  cursor: pointer;
}

.searchList-section .tabList-com {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.searchList-section .tabList-recent {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.searchList-section .tabList-recent li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 2;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

.searchList-section .tabList-recent li .li-txt {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: left;
}

.searchList-section .tabList-recent li .li-close {
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  width: 16px;
  height: 16px;
  margin-left: auto;
  background: url("../images/cancel.png") no-repeat;
  background-size: cover;
  cursor: pointer;
}

.searchList-section .tabList__dp_selected {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.productControl .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.productControl .container .productCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  padding-left: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.productList-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.productList-section ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 200px;
          flex: 1 1 200px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
}

.productList-section ul li img {
  height: 200px;
}

.productList-section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.productList-section1 a {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
}

.productList-section1 a img {
  width: 100%;
}
/*# sourceMappingURL=style.css.map */